<ion-view title="Playlists">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item nav-clear menu-close href="#/app/playlists">
                Longitude: {{ coords.longitude }}
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/playlists">
                Latitude: {{ coords.latitude }}
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/playlists">
                Iterations: {{ iterations }}
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/playlists">
                Fb Login Status: {{ fbLoginStatus }}
            </ion-item>
            <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
                {{playlist.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
